* {
	margin: 0;
	padding: 0;
	border: 0;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
	color: inherit;
	cursor: pointer;
}

$b: ".vr-site";

#{$b} {
	&-visible {
		&-mobile {
			@include desktop {
				display: none !important;
			}
		}
		&-mobile-small {
			@include desktop-and-tablet {
				display: none !important;
			}
		}
	}
	&-invisible {
		&-mobile {
			@include mobile {
				display: none !important;
			}
		}
		&-mobile-small {
			@include mobile-small {
				display: none !important;
			}
		}
	}
}
