$b: ".password";

#{$b} {
	position: relative;

	&-control {
		position: absolute;
		top: 21px;
		right: 15px;
		display: inline-block;
		width: 24px;
		height: 24px;
		background: url("/visibility_24px.svg") 0 0 no-repeat;

		&_open {
			background: url("/visibility_off_24px.svg") 0 0 no-repeat;
		}
	}
}
